{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col-md-12 text-center ">
        <h3>Incidents</h3>
    </div>
</div>
<form method="GET" action="{% url 'rlcis:incident_search' %}">
    <div class="row">
        {% csrf_token %}
        <div class="col-sm-1 col-md-3">
            <a href="{% url 'rlcis:incident_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"> New Incident</i>
            </a>
        </div>
        <div class="col-sm-4 col-md-7">
            {{ searchForm.q|as_crispy_field }}
        </div>
        <div class="col-sm-1 col-md-1">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</form>
<div class="row">
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>ID</td>
                <td>Company</td>
                <td>Industry Type</td>
                <td>Summary</td>
                <td>Country<br>Region<br>Location</td>
                <td>Bribed By</td>
                <td>Bribe Type</td>
                <td>First Occurence</td>
                <td>Resolution Date</td>
                <td>Reviewer</td>
            </tr>

        </thead>
        <tbody>
            {% for incident in incident_list %}
            <!-- {{ incident.full_name|upper }}<br> -->
            <tr class='clickable-row' data-href="{% url 'rlcis:incident_update' incident.id %}">
                <td>
                    {{incident.id}}
                </td>
                <td>{{incident.company_name}}</td>
                <td>{% if incident.industry_type_other %}
                    {{incident.industry_type_other}}
                    {% else %}
                    {{ incident.get_industry_type_display}}
                    {% endif %}
                </td>
                <td>{{incident.incident_summary}}</td>
                <td>{{incident.country}}<br>{{incident.region}}<br>{{incident.location}}</td>

                <td>{% if incident.bribed_by_other %}
                    {{incident.bribed_by_other}}
                    {% else %}
                    {{ incident.get_bribed_by_display}}
                    {% endif %}
                </td>

                <td>{% if incident.bribe_type_other %}
                    {{incident.bribe_type_other}}
                    {% else %}
                    {{ incident.get_bribe_type_display}}
                    {% endif %}
                </td>
                <td>{{incident.first_occurence}}</td>
                <td>{{incident.resolution_date}}</td>
                <td>{{incident.reviewer}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<hr class="md-4">


<ul class="pagination">
    {% for p in incident_list.paginator.page_range %}
    {% if incident_list.number == p %}
    <li class="page-item active">
        <a ref="?page={{ p }}{% if query %}&q={{query}}{% endif %}" class="page-link">{{ p }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a href="?page={{ p }}{% if query %}&q={{query}}{% endif %}" class="page-link">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<script type='text/javascript'>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock content %}