{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}

{% comment %}
RLCIS Template used to display create, update or delete an Incident

Authors: Robert Lange and Alexander Riccio
Course: CST8333
Date: 2019-12-19
{% endcomment %}

{% block content %}


<form action="" method="post">

    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.anonymous|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6 anonymous">
            {{ form.company_name|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.industry_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_summary|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_details|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by_other|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type_other|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">

            {{ form.first_occurence|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.resolution_date|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.country|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.region|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.location|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-sm">
                <i class="fas fa-save"></i> Submit
            </button>
        </div>
        <div class="col-sm-4 col-md-3">
            <a href="{% url 'rlcis:incidents' %}" class="btn btn-secondary btn-block btn-sm">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
        <div class="col-sm-4 col-md-1">
            <a href="{% url 'rlcis:incident_delete' id %}" class="btn text-secondary px-0 confirm-delete">
                <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
            </a>
        </div>
    </div>
</form>

<script type='text/javascript'>
    $(document).on('click', '.confirm-delete', function () {
        return confirm('Are you sure you want to delete this?');
    })

    $(".anonymousToggle").change(function(){
        if ($(".anonymous").is(":hidden")){
            $(".anonymous").show();
        }else{
            $(".anonymous").hide();
        }
    })
</script>
{% endblock content %}