{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}

{% comment %}
RLCIS Template used to display create, update or delete an Incident

Authors: Robert Lange and Alexander Riccio
Course: CST8333
Date: 2019-12-19
{% endcomment %}

{% block content %}


<form action="" method="post" id="incidentForm">

    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.anonymous|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6 anonymous">
            {{ form.company_name|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.industry_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_summary|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_details|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by_other|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type_other|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">

            {{ form.first_occurence|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.resolution_date|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.country|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.region|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4 anonymous">
            {{ form.location|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">
            <input type="file" multiple>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">
            <button type="button" id="submitBtn" class="btn btn-success btn-block btn-sm">
                <i class="fas fa-save"></i> Submit
            </button>
        </div>
        <div class="col-sm-4 col-md-3">
            <a href="{% url 'rlcis:incidents' %}" class="btn btn-secondary btn-block btn-sm">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
        <div class="col-sm-4 col-md-1">
            <a href="{% url 'rlcis:incident_delete' id %}" class="btn text-secondary px-0 confirm-delete">
                <i class="fas fa-trash-alt fa-lg text-danger float-right"></i>
            </a>
        </div>
    </div>
</form>
<!-- 
<button type="button" id="testsubmitBtn" class="btn btn-success btn-block btn-sm">
    <i class="fas fa-save"></i> Submit
</button> -->

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var files = []
        
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            onaddfile: (err, fileItem) => {
                if (!err){
                    files.push(fileItem.file)
                }     
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1){
                    files.splice(index, 1)
                }
                console.log(files)
            }
        });

 
        $(document).on('click', '#submitBtn', function(e) {
            var form = $('#incidentForm')[0];
            var formData = new FormData();
            formData.append('fileLength', files.length)
            formData.append('incidentForm', form)
            for (var i = 0; i < files.length; i++) {
                formData.append('document' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: 'POST',
                url: '{% url "rlcis:incident_insert" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('The post has been created!')
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })
    })
</script>


<script type='text/javascript'>
    $(document).on('click', '.confirm-delete', function () {
        return confirm('Are you sure you want to delete this?');
    })

    $(".anonymousToggle").change(function(){
        if ($(".anonymous").is(":hidden")){
            $(".anonymous").show();
        }else{
            $(".anonymous").hide();
        }
    })
</script>
{% endblock content %}