{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load ajax_table %}

{% comment %}
RLCIS Template used to display a list of Scenarios in a Table test

Authors: Robert Lange and Alexander Riccio
Course: CST8333
Date: 2019-12-19
{% endcomment %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center ">
        <h3>Scenarios</h3>
    </div>
</div>
<form method="GET" action="{% url 'rlcis:scenarios' %}">
    <div class="row">
        {% csrf_token %}
        <div class="col-sm-1 col-md-3">
            <a href="{% url 'rlcis:scenario_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"> Submit a new Scenario</i>
            </a>
        </div>
        <div class="col-sm-4 col-md-7">
            {{ searchForm.q|as_crispy_field }}
        </div>
        <div class="col-sm-1 col-md-1">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
</form>



{% comment %}

    <div class="row">
        <table class="table table-borderless table-hover table-striped">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>ID</td>
                    <td>Company</td>
                    <td>Industry Type</td>
                    <td>Summary</td>
                    <td>Country<br>Region<br>Location</td>
                <td>Bribed By</td>
                <td>Bribe Type</td>
                <td>First Occurence</td>
                <td>Resolution Date</td>
                <td>Reviewer</td>
            </tr>
            
        </thead>
        <tbody>
            {% for scenario in scenario_list %}
            <tr class='clickable-row' data-href="{% url 'rlcis:scenario_update' scenario.id %}">
                <td>
                    {{scenario.id}}
                </td>
                <td>{{scenario.company_name}}</td>
                <td>
                    <!-- {% if scenario.industry_type_other %}
                    {{scenario.industry_type_other}}
                    {% else %} -->
                    {{ scenario.industry_type}}
                    <!-- {% endif %} -->
                </td>
                <td>{{scenario.scenario_summary}}</td>
                <td>{{scenario.country}}<br>{{scenario.region}}<br>{{scenario.location}}</td>

                <td>
                    <!-- {% if scenario.bribed_by_other %}
                    {{scenario.bribed_by_other}}
                    {% else %} -->
                    {{ scenario.bribed_by}}
                    <!-- {% endif %} -->
                </td>
                
                <td>
                    <!-- {% if scenario.bribe_type_other %}
                    {{scenario.bribe_type_other}}
                    {% else %} -->
                    {{ scenario.bribe_type}}
                    <!-- {% endif %} -->
                </td>
                <td>{{scenario.first_occurence}}</td>
                <td>{{scenario.resolution_date}}</td>
                <td>{{scenario.reviewer}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%  endcomment %}


{% ajax_table "scenariosTable" "rlcis:scenarios_table" %}


<hr class="md-4">


<ul class="pagination">
    {% for p in scenario_list.paginator.page_range %}
    {% if scenario_list.number == p %}
    <li class="page-item active">
        <a ref="?page={{ p }}{% if query %}&q={{query}}{% endif %}" class="page-link">{{ p }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a href="?page={{ p }}{% if query %}&q={{query}}{% endif %}" class="page-link">{{ p }}</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<script type='text/javascript'>
    // jquery used to make each row of the table clickable
    $("#scenariosTable").on("click",".clickable-row", function(){
        window.location = $(this).data("href");
    });
</script>
{% endblock content %}