{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}

{% block content %}


<form action="" method="post">

    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-sm-4 col-md-5">
            {{ form.industry_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_summary|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-12">
            {{ form.incident_details|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">
            {{ form.bribed_by_other|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.bribe_type_other|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-6">

            {{ form.first_occurence|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-6">
            {{ form.resolution_date|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4">
            {{ form.country|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4">
            {{ form.region|as_crispy_field }}
        </div>
        <div class="col-sm-4 col-md-4">
            {{ form.location|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-sm">
                <i class="fas fa-save"></i> Submit
            </button>
        </div>
        <div class="col-sm-4 col-md-4">
            <a href="{% url 'rlcis:incident_list' %}" class="btn btn-secondary btn-block btn-sm">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>
</form>
{% endblock content %}