{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load ajax_table %}
{% load render_table from django_tables2 %}

{% comment %}
RLCIS Template used to display a list of Scenarios in a Table test

Authors: Robert Lange and Alexander Riccio
Course: CST8333
Date: 2019-12-19
{% endcomment %}

{% block content %}

<div class="row">
    <div class="col-md-12 text-center ">
        <h3>Scenarios</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-3">
        <a href="{% url 'rlcis:scenario_insert' %}" class="btn btn-outline-success">
            <i class="fas fa-plus"> Submit a new Scenario</i>
        </a>
    </div>
</div>


{% render_table scenario_list %}


<hr class="md-4">




<script type='text/javascript'>
    // jquery used to make each row of the table clickable
    $("#scenariosTable").on("click",".clickable-row", function(){
        window.location = $(this).data("href");
    });
</script>
{% endblock content %}