container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python cst8333/manage.py migrate --noinput"
        leader_only: true
    02_createsu:
        command: "source /opt/python/run/venv/bin/activate && python cst8333/manage.py createsu"
        leader_only: true
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python cst8333/manage.py collectstatic --noinput"
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cst8333.settings"
    "PYTHONPATH": "./rlcis"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: cst8333/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"