container_commands:
    01_migrate:
        command: "python cst8333/manage.py migrate"
        leader_only: true
    02_collectstatic:
        command: "python cst8333/manage.py collectstatic --noinput"
    03_createsu:
        command: "python cst8333/manage.py createsu"
        leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: cst8333.settings
    PYTHONPATH: ./cst8333:$PYTHONPATH
    ALLOWED_HOSTS: rlcs-env-dev.us-west-2.elasticbeanstalk.com
  aws:elasticbeanstalk:container:python:
    WSGIPath: cst8333.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: www/static/