{% extends "rlcis/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RLCIS Profile</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="theme-color" content="#4CB96B" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}"/>--> 
    </head>

<body>
        <div class="container-fluid" style="background-color:#CDCDCD; max-width:500px">
            <form class="form-horizontal no-email-form" method=POST>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">RLCIS Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info"  type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <div class='container'>
                <small class="text-muted">
                    <span class="ml-0"></span> Need An Account?</span> <a href="{% url 'users:register' %}">Sign Up Now</a>
                    <span class="ml-4"></span> Forgot Password? <a href="{% url 'users:password_reset' %}">Reset Password</a>
                <div>
                </small>
            </div>
        </div>
</body>
</html>
{% endblock content %}