{% extends "rlcis/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<style>
    #id_phone_number_0 {
        width: 145px;

    }
    #id_phone_number_1 {
        width: 60px;                
    }   
   
</style>
        <div class="d-flex justify-content-center">
            <div class="col-xs-12 col-sm-5 col-sm-offset-2 profile-main-div">
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <p class="head-msg col-sm-offset-3">RLCIS Profile </p>
                    </div> 
                {% csrf_token %}
                {% crispy form %} 
                {{ form.errors}}
                <hr>
            </div>            
        </div>    
{% endblock content %}
