{% extends "rlcs/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<div class="d-flex justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 profile-main-div">
            <hr>
            <div class="row d-flex justify-content-center">
                <p class="head-msg col-sm-offset-3">RLCS Registration </p>
            </div> 
            <form class="form-horizontal profile-sub-form" method=POST>
            {% csrf_token %}         
                {{ form|crispy }}  
                <small class="text-muted">            
                    Please verify that you are not a robot.
                </small>               
                <div class="form-group ">               
                    <div class="row justify-content-between align-items-center">
                        <div class="col-8 justify-content-left">
                             <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LdWwV8aAAAAAOlX8qxeA7VOYrE-gASwkRgPUH1R" data-callback="correctCaptcha"></div>                         
                        </div>
                        <div class="col-4">
                            <button class="btn btn-info accept-btn btn-lg ml-3" type="submit" title="You must verify you are not a robot first!.">Sign Up</button>
                        </div>
                    </div>                                                     
                </div>
             </form>
            <div class="border-top">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{% url 'users:login' %}">Sign In</a>
                </small>
            </div>
        </div>
       <!--https://studygyaan.com/django/add-recaptcha-in-your-django-app-increase-security-->
       
<!--disable submit until re-captia is checked-->     
<script type='text/javascript'>
    $("form").each(function() {
        $(this).find(':input[type="submit"]').prop('disabled', true);
    });
    function correctCaptcha() {
        $("form").each(function() {
            $(this).find(':input[type="submit"]').prop('disabled', false);
        });
    }    
 //   var message_ele = document.getElementById("mess_con");

   // setTimeout(function(){ 
     //  message_ele.style.display = "none"; 
    //}, 3000);
    // Timeout is 3 sec, you can change it
</script>      
{% endblock content %}
