{% extends "rlcs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>

    my-span{
        position: absolute;
        right: 75px;
        transform: translate(0,-50%);
        top: 48%;
        
    }
    .fa{
        font-size: 20px ;
        color: #7a797e;
    }
</style>
        <div class="d-flex justify-content-center">
            <div class="col-xs-12 col-sm-4 col-sm-offset-2 profile-main-div">
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <p class="head-msg col-sm-offset-3">Set New Password</p>
                    </div> 
                {% csrf_token %}
                {% crispy form %}
                <hr class="mt-0 mb-2">
                <div class='container'>
                    <small class="text-muted">
                        <span class="ml-0"></span> Need An Account?</span> <a href="{% url 'users:register' %}">Sign Up Now</a>
                        <span class="ml-4"></span> Forgot Password? <a href="{% url 'users:password_reset' %}">Reset Password</a>
                    </small>
                <div>  
            </div>            
        </div>    


<script>
    var state = false;
function toggle(){
    if (state){
        document.getElementById(
            "password1").
            setAttribute("type", "password");
            document.getElementById("eye").style.color='#7a797e'
            state = false;

            document.getElementById(
                "password2").
                setAttribute("type", "password");
                document.getElementById("eye").style.color='#7a797e'
                state = false;

    }
    else {
        document.getElementById(
            "password1").
            setAttribute("type", "text");
            document.getElementById("eye").style.color='#5887ef'
            state = true;

            document.getElementById(
            "password2").
            setAttribute("type", "text");
            document.getElementById("eye").style.color='#5887ef'
            state = true;

    }
}
</script>
{% endblock content %}
